<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Assignment2</display-name>
  <welcome-file-list>
    <welcome-file>HomeServlet</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Jersey REST Web Services</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>uts.wsd.rest</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Web Services</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
   			com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  		</listener-class>
  </listener>
  <servlet>
    <servlet-name>SOAP Web Services</servlet-name>
    <servlet-class>
   			com.sun.xml.ws.transport.http.servlet.WSServlet
  		</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SOAP Web Services</servlet-name>
    <url-pattern>/soap/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>uts.wsd.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>uts.wsd.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteArticleServlet</display-name>
    <servlet-name>DeleteArticleServlet</servlet-name>
    <servlet-class>uts.wsd.servlets.DeleteArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArticleServlet</servlet-name>
    <url-pattern>/DeleteArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>uts.wsd.servlets.HomeServlet</servlet-class>
    <init-param>
      <param-name>home</param-name>
      <param-value>home</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorServlet</display-name>
    <servlet-name>AuthorServlet</servlet-name>
    <servlet-class>uts.wsd.servlets.AuthorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorServlet</servlet-name>
    <url-pattern>/AuthorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleServlet</display-name>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>uts.wsd.servlets.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>uts.wsd.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddArticleServlet</display-name>
    <servlet-name>AddArticleServlet</servlet-name>
    <servlet-class>uts.wsd.servlets.AddArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArticleServlet</servlet-name>
    <url-pattern>/AddArticleServlet</url-pattern>
  </servlet-mapping>
</web-app>